@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" class="btn btn-success btn-large" />
}
<p>@Html.ActionLink("Back to treats", "Index", "treats", null,  new { @class = "btn btn-primary btn-large" } )</p>